/*CONTACTO*/

/*section*/

.section__title {
    color: rgb(41, 41, 41);
    text-align: center;
    font-family:'Spline Sans', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.188rem;
    margin-top: 70px;
}

.contenedor__form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form__input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 270px;
    height: 25px;
    border: none;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(102, 102, 102);
}

.form__textarea {
    display: flex;
    padding: 4px;
    width: 270px;
    border: none;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.form__checkboxLabel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(102, 102, 102);
}

.contenedor__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonEnviar {
    margin: 10px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(102, 102, 102);
    transition: all .2s;
}

.botonEnviar:hover {
    background-color: white;
}

.botonReset {
    @extend .botonEnviar;
    width: 160px;
}

.botonReset:hover {
    background-color: white;
}