/*MEDIA QUERIES*/

@media screen and (max-width:768px) {

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagenNosotros {
        width: 100%;
        height: 200px;
    }

    .section__subtituloNosotros {
        margin-left: 0;
    }

    .parrafoNosotros {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:1469px) {
    .section__cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}