/*MEDIA QUERIES*/

@media screen and (max-width:768px) {

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagenNosotros {
        width: 100%;
        height: 200px;
    }

    .section__subtituloNosotros {
        margin-left: 0;
    }

    .parrafoNosotros {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contenedor__terminos {
        display: flex;
        flex-direction: column;
    }

    .section__subtituloTerminos {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }

    .section__parrafoTerminos {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contenedor__imagenMarcas {
        margin: 0;
        margin-bottom: 20px;
        justify-content: center;
    }

    .imagenMarcas {
        width: 30%;
        height: auto;
        padding: 50px;
    }
}

@media screen and (min-width:769px) and (max-width:1300px) {
    .contenedor__imagenMarcas {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .imagenMarcas {
        width: 15%;
        height: auto;
        padding: 50px;
    }
}

@media screen and (max-width:1469px) {
    .section__cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:769px) and (max-width:1069px) {
    .section__cards {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:911px) {
    .header__img {
        margin-left: 10px;
    }
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-right: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: absolute;
        width: 100%;
        height: 0vh;
        top: 140px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.70);
        text-align: center;
        transition: height .4s; 
    }
    
    .nav__item {
        display: none;
        line-height: 30px;
    }
    
    .nav__link {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .bar-btn {
        display: block;
        font-size: 30px;
        margin-right: 25px;
        cursor: pointer;
        transition: all .4s;
    }
    
    #check {
        display: none;
    }

    #check:checked ~ .bar-btn {
        transform: rotate(90deg);
    }

    #check:checked ~ .nav__list {
        height: 35vh;
    }
    
    #check:checked ~ .nav__list li {
        display: block;
    }
}