/*PRODUCTOS*/

/*section*/ 

.section__title {
    color: rgb(41, 41, 41);
    text-align: center;
    font-family:'Spline Sans', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.188rem;
    margin-top: 70px;
}

.section__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 90px;
}

.card {
    background-color: rgb(243, 243, 243);
    border: 10px solid rgb(243, 243, 243);
    border-radius: 7px;
    margin: 10px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.733);
}

.card__img {
    width: 250px;
    height: 280px;
    border-radius: 3px;
}

.card__link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125rem;
}

.card__link:hover {
    color: rgb(131, 131, 131);
}